body                    { background:url('../img/linedpaper.png'); }
#d3-chart-container     { width: 1060px; display: block; border: 1px solid gray; }
#d3-bullet              { width: 560px; display: inline-block; border: 1px solid gray; }
#d3-slope               { width: 72px; display: inline-block; border: 1px solid gray; }
#d3-range               { width: 140px; display: inline-block; border: 1px solid gray; }

/* BULLET STYLES */
.bullet                 { font: 10px sans-serif; }
.bullet .marker         { stroke: #000; stroke-width: 2px; }
.bullet .tick line      { stroke: #666; stroke-width: .5px; }
.bullet .range.s0       { fill: rgba(244, 140, 140, 1); }
.bullet .range.s1       { fill: rgba(244, 140, 140, 1); }
.bullet .range.s2       { fill: rgba(244, 140, 140, 1); }
.bullet .confidence.s0  { fill: rgba(200, 200, 200, 1); }
.bullet .confidence.s1  { fill: rgba(244, 140, 140, 1); }
.bullet .measure.s0     { fill:#fbe1e2; stroke: rgb(233, 24, 24); }
.bullet .title          { font-size: 14px; font-weight: bold; }
.bullet .subtitle       { fill: #999; }

/* SLOPE STYLES */
.slope .measure         { stroke: rgba(244, 140, 140, 1); stroke-width: 2px; }
.slope .measure-start   { fill: #fbe1e2; stroke: rgba(244, 140, 140, 1); stroke-width: 2px; }
.slope .measure-end     { fill: #fbe1e2; stroke: rgba(244, 140, 140, 1); stroke-width: 2px; }

.range path.significant-Yes { stroke: rgb(233, 24, 24); }
.range path.significant-No  { stroke: rgba(244, 140, 140, 1);; }
.range rect.significant-Yes { fill: rgb(233, 24, 24); }
.range rect.significant-No  { fill: rgba(244, 140, 140, 1);; }

.dropdown { display: inline-block; }

.title, .subtitle, .tick { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }




/****************
*****************
*****************
TOOLTIP STYLE
*****************
*****************
****************/

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}